name: deploy-terraform

on: [workflow_dispatch]

env:
    AZURE_RESOURCEGROUP_NAME: rg-euwe-di-iotiac

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDS_TERRAFORM }}
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        run: cd Terraform
      - name: Terraform Init
        run: terraform init
      - name: Terraform Apply
        run: terraform apply 

     
